@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Titan+One&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    min-width: 100vw;
    background: rgb(189, 255, 0);
    background: linear-gradient(151deg, rgba(189, 255, 0, 0.8632703081232493) 10%, rgba(5, 173, 208, 0.8576680672268908) 50%, rgba(69, 252, 179, 0.8492647058823529) 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#world {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(125, 242, 240, 0.71);
}

.wall {
    width: 50px;
    height: 50px;
    background-color: #021d20;
    display: inline-block;
}

.coin {
    width: 50px;
    height: 50px;
    background-image: radial-gradient(circle, rgb(0, 60, 255) 15%, rgb(0, 0, 0, 0) 15%);
    display: inline-block;
}

.ground {
    width: 50px;
    height: 50px;

    display: inline-block;
}
.btn-div {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.level_details {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Philosopher", sans-serif;
}

.First-letter {
    font-size: 2.5rem;
    font-weight: 700;
}

div {
    line-height: 0px;
}

h1 {
    color: black;
}

/* CSS */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .25rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

@media screen and (max-width: 600px) {
    .wall {
        width: 25px;
        height: 25px;
    }

    .coin {
        width: 25px;
        height: 25px;
    }

    .ground {
        width: 25px;
        height: 25px;
    }

    .level_details {
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 700;
        font-family: "Philosopher", sans-serif;
    }

    .First-letter {
        font-size: 1.75rem;
        font-weight: 700;
    }
}
